.block {
    padding-bottom: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 16px;
    justify-items: center;
    grid-gap: 32px 24px;
    margin-top: 24px;
}